.box {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    min-width: 280px;
    flex-direction: column;
    padding: 5px;
    text-align: left;
    line-height: 0px;
}

.imagem {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.column {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.responsive {
    width: 100%;
    height: auto;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    border-radius: 10px !important;
    background-color: white !important;
    border-color:white !important;
    transition: all 0.5s;
    cursor: pointer;
}

/* button:hover {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgb(255, 17, 0) 65%);
    animation:reverse;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
} */

button:hover {
    background-position: 100% 200%;
}

button {
    background: linear-gradient(90deg,#fdfdfd, #ffffff 30%, gray 30%, gray   );
    background-size: 400% 200%;
    transition: background 3s;
}

button:hover img {
    animation: tremer infinite 3s;
}

@keyframes tremer {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-3px);
	}
	100% {
		transform: translatey(0px);
	}
}