.box {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    min-width: 280px;
    flex-direction: column;
    padding: 5px;
    text-align: left;
    line-height: 0px;
}

.imagem {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.column {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.responsive {
    width: 100%;
    height: auto;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    text-align: center;
    border-radius: 3px !important;
    background-color: rgb(215, 240, 193) !important;
    border-color:rgb(49, 49, 49) !important;
}

/* falta hover */