.box {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    min-width: 280px;
    flex-direction: column;
    padding: 5px;
    text-align: left;
    line-height: normal;
}

.imagem {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.column {
    display:flex;
    flex: wrap 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.responsive {
    width: 100%;
    height: auto;
}