
.Abas {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.shadow {
    border: 5px solid rgb(104, 103, 103);
    border-radius: 10px;
}

.button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: ease-in-out 0.3s;
}

h1 {
    margin: 10px 0px 10px 0px;
}